<div id="page">
<h4 align="center">Do Authorization</h4>
<h3 align="center">Authorization Done!</h3>		
<dl>
<table align="center">	
<% @response.each do |k,v| %>
<tr><td><%= "#{k}" %>:</td><td><%= "#{v}" %></td>
 <% end -%>
</table></dl>   
    <%= link_to "Home", {:controller =>"wppro", :action => "index"}, :id => 'CallsLink' %>
</div>
 





