<html>
<head>
<title>PayPal Ruby On Rails SDK - Rails error</title>
</head>
<body alink=#0000FF vlink=#0000FF>
<center>
<br>
<font size=2 color=black face=Verdana><b>Rails Error</b></font>
<br><br>
<b>Rails has encountered this exception!</b><br><br>
<table width="700" align="center">
	<tr>
		<td>Exception:</td>
		<td><%= @longmessage %></td>
	</tr>

</table>
</center>
<a class="home" <%= link_to "Home", :controller =>"wppro", :action => "index" %></a>
</body>
</html>
